html {
  background-color: white;
}

#header {
    font-family: monospace;
    font-size: 1.5em;
    color: white;
    padding: 1em 0em;
    text-align: center;
}
#header a {
    text-decoration: none;
    color: black;
}

#demando {
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 1em;
    padding: 0.5em 5em 0.5em 1.8em;
    border: 2px solid #ddd;
}

#tradukuro {
    position: absolute;
    display: inline-block;
    margin-left: -6em;
    margin-top: 0.3em;
    height: 2em;
    width: 1.2em;
    border: 0;
    background-position: 0em 0.7em;
    background-repeat: no-repeat;
    cursor:pointer;
}
#seruro {
    position: absolute;
    display: inline-block;
    margin-left: -2.5em;
    margin-top: 0;
    height: 3em;
    width: 1.5em;
    border: 0;
    background-position: 0em 0.7em;
    background-repeat: no-repeat;
    cursor:pointer;
}

#lingui {
    display: inline-block;
    color: rgba(0,0,0,0.7);
    margin-left: -4em;
    width: 2.3em;
    border: none;
    background-color: rgba(255,255,255,0);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

dl {
    margin: 2% 8% 3em;
}

dt {
    margin: 0 5%;
    padding-top: 2%;
    font-size:2em;
    font-family: monospace;
    text-decoration: none;
    border-top: 1px solid #ddd;
    counter-reset: section;
}

dd {
    margin: 2% 5%;
    text-align: justify;
    text-justify: inter-word;
}

dd:before {
    counter-increment: section;
    content: counter(section) ". ";
    color: grey;
}

.right {
    padding: 0 3%;
    float:right;
    font-size:75%;
    font-style:italic;
}

.exemplaro {
    color: rgba(0,0,0,0.6);
    padding: 0 8%;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
